---
import Layout from './../layouts/Layout.astro';
---

<Layout title="Boletines - ASDEMCO">
    <h1>Nuestros Boletines</h1>
    <p>A continuación se encontraran nuestros boletines mas recientes</p>

    
</Layout>