---
import Layout from './../layouts/Layout.astro';
---

<Layout title="Contacto - ASDEMCO">
    
    <h1>Contacto</h1>

    <h1>Mira nuestras redes con un toque</h1>

    <div class="text-center">
        <h1>Envianos un mensaje</h1>
        <p>Estaremos contentos de saber de ti</p>

        <form>
            <input type="text" name="" id="">
            <input type="email" name="" id="">
            <input type="text" name="" id="">
            <textarea name="" id="" cols="30" rows="10"></textarea>
        </form>
    </div>
    
</Layout>
