---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Inicio">

    <!-- Main -->

    <main class="text-center text-white">
        <h1>ASDEMCO</h1>
        <p>Asociación De Empleados Comfama</p>
        <button class="bg-pink-500 pl-3 pr-3 rounded-md">Afiliate</button>
    </main>
    

    <h1>BIENVENIDOS A ASDEMCO</h1>

    <p>Asdemco, es la Asociación de Empleados Comfama que busca el desarrollo a escala humana de sus asociados y familia por medio de la ética y los valores establecidos</p>

    <div>
        
    </div>

    <button class="bg-blue">Quienes somos </button>

    <!-- Footer -->
     
    <footer>
        <div>

        </div>
    </footer>

</Layout>
	
	


