---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Inicio">

    <!-- Main -->

    <main class="text-center">
        <h1>ASDEMCO</h1>
        <p>Asociación De Empleados Comfama</p>
        <button class="bg-d9534f pl-3 pr-3">Afiliate</button>
    </main>
    







    <!-- Footer -->
     

</Layout>
	
	


